<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
    <configSections>
    </configSections>
    <system.web>
        <authentication mode="None" />
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <add name="myListener"
                  type="System.Diagnostics.TextWriterTraceListener"
                  initializeData="MySite.log">
                    <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>
                </add>
                <remove name="Default" />
            </listeners>
        </trace>
    </system.diagnostics>
    <system.serviceModel>
        <bindings />
        <client />
        <services>
            <service behaviorConfiguration="RedPillServiceConfiguration" name="Redpill.Services.Readify">
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
                          contract="ReadifyKnockService.IRedPill">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="/Services/Readify.svc"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="RedPillServiceConfiguration">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
</configuration>